.recipe-box {
	h2 {
		text-align: center;
	}
	background-color: gray;
}

.row {
	width: 90%;
	margin: 10px auto;
}

#addPopUp {
	h4 {
		display: inline;
	}
	span {
		display: inline;
		float: right;
		cursor: pointer;
	}
	width: 500px;
	z-index: 1;
}